<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    <link rel="icon" type="image/png" sizes="500x500" href="~/Content/images/SayerLogo.png" />
    @Styles.Render("~/Content/css")
    @*@RenderSection("Styles", required: false)*@
    @*@Scripts.Render("~/bundles/modernizr")*@
<style>
        .side-bar{
         background: rgba(255, 255, 255, 0.1);
         backdrop-filter: blur(15px);
         width: 290px;
         height: 100vh;
         position: fixed;
         top: 0;
         left: -100%;
         overflow-y: auto;
         transition: 0.6s ease;
         transition-property: left;
        }

        .side-bar.active{
         left: 0;
        }

        .side-bar .menu{
         width: 100%;
         margin-top: 80px;
        }

        .side-bar .menu .item{
         position: relative;
         cursor: pointer;
        }

        .side-bar .menu .item a{
         color: #fff;
         font-size: 16px;
         text-decoration: none;
         display: block;
         padding: 5px 30px;
         line-height: 60px;
        }

        .side-bar .menu .item a:hover{
         background: #8621F8;
         transition: 0.3s ease;
        }

        .side-bar .menu .item i{
         margin-right: 15px;
        }

        .side-bar .menu .item a .dropdown{
         position: absolute;
         right: 0;
         margin: 20px;
         transition: 0.3s ease;
        }

        .side-bar .menu .item .sub-menu{
         background: rgba(255, 255, 255, 0.1);
         display: none;
        }

        .side-bar .menu .item .sub-menu a{
         padding-left: 80px;
        }

        .rotate{
         transform: rotate(90deg);
        }

        .close-btn{
         position: absolute;
         color: #fff;
         font-size: 20px;
         right: 0;
         margin: 25px;
         cursor: pointer;
        }

        .menu-btn{
         position: absolute;
         color: #fff;
         font-size: 20px;
         margin: 25px;
         cursor: pointer;
        }

        .main{
         height: 100vh;
         display: flex;
         justify-content: center;
         align-items: center;
         padding: 50px;
        }

        .main h1{
         color: rgba(255, 255, 255, 0.8);
         font-size: 60px;
         text-align: center;
         line-height: 80px;
        }

        @*@media (max-width: 900px){
         .main h1{
           font-size: 40px;
           line-height: 60px;
         }
        }*@
</style>
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3 my-5" href="@Url.Action("Index","Home")">
            <img src="~/Content/images/SayerLogo.png" width="150" height="150" />
        </a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto me-0 me-md-3 my-2 my-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                @if (HttpContext.Current.Session != null)
                {
                    string NA = CapaPresentacionAdmin.Permisos.PermisosRolAttribute.ObtenerNombApel();
                    if (CapaPresentacionAdmin.Permisos.PermisosRolAttribute.ObtenerIdRol() == 1)
                    {
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#!"><b>Gerente: </b> @NA <br /><b>Email:</b> @User.Identity.Name</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="@Url.Action("CerrarSesion","Acceso")"><b>Cerrar Sesion</b></a></li>
                        </ul>
                    }
                    else if (CapaPresentacionAdmin.Permisos.PermisosRolAttribute.ObtenerIdRol() == 2)
                    {
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#!"><b>Marketing: </b> @NA <br /><b>Email:</b> @User.Identity.Name</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="@Url.Action("CerrarSesion","Acceso")"><b>Cerrar Sesion</b></a></li>
                        </ul>
                    }
                }
                }

            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark bg-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div id="MenuNavegacion" class="nav">
                        @if (HttpContext.Current.Session != null)
                        {
                            if (CapaPresentacionAdmin.Permisos.PermisosRolAttribute.ObtenerIdRol() == 1)
                            {
                                <div class="sb-sidenav-menu-heading">Funciones Administrador</div>
                                <a class="nav-link" href="@Url.Action("Eventos","Home")">
                                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                    Registro de eventos
                                </a>
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                                    Usuarios
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="@Url.Action("Usuarios","Home")">
                                            <div class="sb-nav-link-icon">
                                                <i>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-gear" viewBox="0 0 16 16">
                                                        <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Zm9.886-3.54c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382l.045-.148ZM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z" />
                                                    </svg>
                                                </i>
                                            </div>
                                            Editar Usuarios

                                        </a>
                                        <a class="nav-link" href="#" onclick="abrirModal(null)">
                                            <div class="sb-nav-link-icon">
                                                <i>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                                                        <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                                        <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                                                    </svg>
                                                </i>
                                            </div>
                                            Registrar Usuario
                                        </a>
                                    </nav>
                                </div>
                                <div class="sb-sidenav-menu-heading">Funciones de Sistema</div>
                                <a class="nav-link" href="@Url.Action("Dashboard","Mantenedor")">
                                    <div class="sb-nav-link-icon"><i class="fas fa-bookmark"></i></div>
                                    Dashboard
                                </a>
                                <a class="nav-link" href="@Url.Action("Subida","Mantenedor")">
                                    <div class="sb-nav-link-icon"><i class="fas fa-bookmark"></i></div>
                                    Subir reporte de ventas
                                </a>
                                <a class="nav-link" href="@Url.Action("ResAnteriores","Mantenedor")">
                                    <div class="sb-nav-link-icon"><i class="fas fa-bookmark"></i></div>
                                    Resultados anteriores
                                </a>


                            }
                            else if (CapaPresentacionAdmin.Permisos.PermisosRolAttribute.ObtenerIdRol() == 2)
                            {
                                <div class="sb-sidenav-menu-heading">Funciones Mantenimiento</div>
                                <a class="nav-link" href="@Url.Action("Dashboard","Mantenedor")">
                                    <div class="sb-nav-link-icon"><i class="fas fa-bookmark"></i></div>
                                    Dashboard
                                </a>
                                <a class="nav-link" href="@Url.Action("Subida","Mantenedor")">
                                    <div class="sb-nav-link-icon"><i class="fas fa-bookmark"></i></div>
                                    Subir reporte de ventas
                                </a>
                                <a class="nav-link" href="@Url.Action("ResAnteriores","Mantenedor")">
                                    <div class="sb-nav-link-icon"><i class="fas fa-bookmark"></i></div>
                                    Resultados anteriores
                                </a>

                            }


                        }


                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Sistema Web de proyecciones de demanda</div>
                    Sayer - 2024
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main class="bg-danger bg-opacity-10">
                <div class="container-fluid px-4 ">
                    @RenderBody()
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Sayer 2024</div>
                        <div>
                            <a href="#">Politica de Privacidad</a>
                            &middot;
                            <a href="#">Terminos &amp; Condiciones</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-dark text-white">
                    <h5 class="modal-title" id="exampleModalLabel">Usuario</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <input id="txtid" type="hidden" value="0" />

                    <div class="row g-2">


                        <div class="col-sm-6">
                            <label for="txtnombres" class="form-label">Nombres</label>
                            <input type="text" class="form-control" id="txtnombres" autocomplete="off">
                        </div>


                        <div class="col-sm-6">
                            <label for="txtapellidos" class="form-label">Apellidos</label>
                            <input type="text" class="form-control" id="txtapellidos" autocomplete="off">
                        </div>


                        <div class="col-sm-6">
                            <label for="txtcorreo" class="form-label">Correo</label>
                            <input type="text" class="form-control" id="txtcorreo" autocomplete="off">
                        </div>


                        <div class="col-sm-6">
                            <label for="cboactivo" class="form-label">Activo</label>
                            <select id="cboactivo" class="form-select">
                                <option value="1">Si</option>
                                <option value="0">No</option>
                            </select>
                        </div>


                    </div>

                    <div class="row mt-2">
                        <div class="col-12">

                            <div id="mensajeError" class="alert alert-danger" role="alert">
                                A simple danger alert—check it out!
                            </div>

                        </div>

                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- ==== ANIMATE ON SCROLL JS CDN -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- ==== GSAP CDN ==== -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
    <
    <script>
    
        function abrirModal(json) {

            $("#txtid").val(0);
            $("#txtnombres").val("");
            $("#txtapellidos").val("");
            $("#txtcorreo").val("");
            $("#cboactivo").val(1);


            $("#mensajeError").hide();



            if (json != null) {


                $("#txtid").val(json.IdUsuario);
                $("#txtnombres").val(json.Nombres);
                $("#txtapellidos").val(json.Apellidos);
                $("#txtcorreo").val(json.Correo);
                $("#cboactivo").val(json.Activo == true ? 1 : 0);

            }

            $("#FormModal").modal("show");
        }

       

        $("#tabla tbody").on("click", '.btn-editar', function () {


            filaSeleccionada = $(this).closest("tr");

            var data =  tabladata.row(filaSeleccionada).data();

            abrirModal(data)

        })



        $("#tabla tbody").on("click", '.btn-eliminar', function () {

            var usuarioseleccionado = $(this).closest("tr");

            var data = tabladata.row(usuarioseleccionado).data();


            swal({
                title: "Esta Seguro?",
                text: "¿Desea eliminar el usuario?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-primary",
                confirmButtonText: "Si",
                cancelButtonText: "No",
                closeOnConfirm: true
            },
            function () {

                 jQuery.ajax({
                    url: '@Url.Action("EliminarUsuario", "Home")',
                    type: "POST",
                     data: JSON.stringify({ id: data.IdUsuario }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        debugger;

                        if (data.resultado) {

                            tabladata.row(usuarioseleccionado).remove().draw();
                        } else {

                            swal("No se pudo eliminar", data.mensaje, "error")
                        }
                    },
                    error: function (error) {
                        console.log(error)
                    }
                });




            });


            console.log(data);

        })

        function Guardar() {

            var Usuario = {

                IdUsuario: $("#txtid").val(),
                Activo: $("#cboactivo").val() == 1 ? true: false,
                Apellidos: $("#txtapellidos").val(),
                Correo: $("#txtcorreo").val(),
                Nombres: $("#txtnombres").val()
            }


           jQuery.ajax({
                url: '@Url.Action("GuardarUsuario", "Home")',
                type: "POST",
                data: JSON.stringify({ objeto : Usuario}),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
               success: function (data) {

                   $(".modal-body").LoadingOverlay("hide");

                    //USUARIO NUEVO
                    if (Usuario.IdUsuario == 0) {

                        if (data.resultado != 0) {

                            Usuario.IdUsuario = data.resultado;
                            /*tabladata.row.add(Usuario).draw(false);*/
                            $("#FormModal").modal("hide");

                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }
                    }
                },
               error: function (error) {

                   $(".modal-body").LoadingOverlay("hide");
                   $("#mensajeError").text("Error Ajax");
                   $("#mensajeError").show();
                },
                beforeSend: function () {
                    $(".modal-body").LoadingOverlay("show", {
                        imageResizeFactor: 2,
                        text: "Cargando...",
                        size: 14
                    })
                }
            });
        }

        
    </script>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/complementos")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
